[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.9.153"
braintreehttp = "*"
cryptography = "==2.7"
django-admin-interface = "==0.10.5"
django-allauth = "==0.39.1"
django-cors-headers = "==3.0.2"
django-ipware = "==2.1.0"
django-rest-auth = "==0.9.5"
django = "==2.2.3"
djangorestframework = "==3.10.2"
# dynamic-rest = {ref = "vlad-1.2",git = "https://github.com/GloblAgency/dynamic-rest.git",editable = true}
# dynamic-rest = {ref = "v1.9.5",git = "https://github.com/AltSchool/dynamic-rest.git",editable = true}
dynamic-rest = "==1.9.6"
gunicorn = "==19.9.0"
paypal-checkout-serversdk = "*"
# only for the webhooks which are not in the other sdk
paypalrestsdk = "==1.13.1"
pdfdocument = "==3.3"
psycopg2-binary = "==2.8.3"
python-memcached = "==1.59"
pytransloadit = "==0.1.10"
reportlab = "==3.5.23"
rest-framework-cache = "==0.1"
sendgrid = "==6.0.5"
sentry-sdk="==0.14.3"
stripe = "==2.33.0"
xhtml2pdf = ">=0.2b1"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
